<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>CURIOSIKI</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Cardo|Montserrat:400,900,900i" rel="stylesheet">
  
  <style type="text/css">


    body {
      margin: 0 0 0 0;
      padding: 0;
      background: #f0f0c3;
      font-family: 'Cardo', sans-serif;
      
-webkit-font-smoothing: subpixel-antialiased;
      box-sizing: border-box;

      
    }

    /*grids ATTRIBUTES mobile*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 5vw 90vw 5vw );
 grid-template-rows: [linename6] 5vh [linename7] 10vh [linename8] 8vh [linename9] 7vh [linename10] 50vh [linename11] 2vh [linename12] 5vh [linename13] 13vh ;
position: fixed;
width: 100vw;
height: 100vh;
overflow-x: hidden;
}

.SRCH {
  grid-column: 1 / 4 ;
  grid-row: 2 ; 
  min-height: 15vh;
}
.BODY {
  grid-column: 2 ;
  grid-row: 5 ; 
  max-width: 88vw;
}
.SURF {
  grid-column: 1 / 4 ;
  grid-row: 3 ; 
}
.DIG {
  grid-column: 1 / 4 ;
  grid-row: 7 ; 
}
.HDR {
grid-column: 1 / 4 ;
grid-row: 1 / 5 ; 
background: #000; 
}
.FTR {
grid-column: 1 / 4 ;
grid-row: 6 / 9 ; 
background: #000; }

.GRIDBOX3 {
grid-column: 2 ;
grid-row: 5 ; 
border:1vw solid black; border-bottom:none; border-top:none;
}
.ORIGAMI {
width: auto;
height: 45vh;
align: left;
}
.BLKRKBTS {
border:none; width:85%; max-height:40vh ; 
overflow-y:scroll; overflow-x:hide; 
min-width: 309px; min-height: 40vh; 
margin-bottom: 15%; padding-bottom: 2%; margin-top:2%;
font-size: calc(4.8vmax + 0.4vmax);
}



      /*image ATTRIBUTES 1*/

    .filtered {
      background: #f0f0c3;
    }

    .filtered img {
      mix-blend-mode: multiply;
      -webkit-filter: grayscale(100%) contrast(200%);
      filter: grayscale(100%) contrast(200%);
      opacity: 1;
    }
    
    /*buttons*/
    
    .SURFBTN {
    font-family:'Montserrat', sans-serif !important; 
    text-transform: uppercase; font-size: calc(4.8vmin + 0.4vmax); font-style: italic; font-weight: 900; 
    border: 0pt; background-color: #000; color: #f0f0c3; width: 25vw; text-align: center; -webkit-appearance: none; appearance: none;
  border-width: 1vw;
  border-style: solid;
  border-color: #f0f0c3;
    }
     .SRCHBOX {
    font-family:'Montserrat', sans-serif !important; 
    text-transform: uppercase; font-size: calc(9vmin + 0.4vmax); font-style: italic; font-weight: 900; 
    border: 0pt; background-color: #f0f0c3; color: #000; width: 99%; text-align: center; -webkit-appearance: none; appearance: none;
  border: none;
}
    .DIGBTN {
    font-family:'Montserrat', sans-serif !important; text-transform: uppercase; font-size: calc(4.8vmin + 0.4vmax); font-style: italic; font-weight: 900;   
    border: 0pt; background-color: #000; color: #f0f0c3; width: 25vw; text-align: center; -webkit-appearance: none; appearance: none;
  border-width: 1vw;
  border-style: solid;
  border-color: #f0f0c3;  
}    
    
    @media (min-width: 750pt) {
 

    /*grid ATTRIBUTES desktop*/
    
    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 16vw 34vw 34vw 16vw);
      ;
      grid-template-rows: [linename1] 6vh [linename2] 12vh [linename3] 64vh [linename4] 12vh [linename5] 6vh;
      position: fixed;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
    }


    .SRCH {
      grid-column: 2 / 4;
      grid-row: 2;
    }

    .BODY {
      grid-column: 2 / 4;
      grid-row: 3;
    }

    .SURF {
      grid-column: 2;
      grid-row: 4;
    }

    .DIG {
      grid-column: 3;
      grid-row: 4;
    }

    /*background ATTRIBUTES*/

    .GRIDBOX1 {
      grid-column: 2 / 4;
      grid-row: 2 / 5;
      border: 1vw solid black;
      border-top: none;
      border-bottom: none;
    }

    .GRIDBOX2 {
      grid-column: 2;
      grid-row: 4;
      border: 0.5vw solid black;
      border-bottom: none;
    }

    .GRIDBOX3 {
      grid-column: 3;
      grid-row: 4;
      border: 0.5vw solid black;
      border-bottom: none;
    }

    .GRIDBOX4 {
      grid-column: 2 / 4;
      grid-row: 4;
      border: 1vw solid black;
      border-bottom: none;
    }

    .GRIDBOX5 {
      grid-column: 2 / 4;
      grid-row: 2;
      border: 1vw solid black;
      border-bottom: none;
    }

    .HDR {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      background: #000;
    }

    .FTR {
      grid-column: 1 / 5;
      grid-row: 5 / 6;
      background: #000;


      /*image ATTRIBUTES 2*/
    }

    .filtered {
      background: #f0f0c3;
    }

    .filtered img {
      mix-blend-mode: multiply;
      -webkit-filter: grayscale(100%) contrast(200%);
      filter: grayscale(100%) contrast(200%);
      opacity: 1;
    }
    
    .SURFBTN {
    font-family:'Montserrat', sans-serif !important; 
    text-transform: uppercase; font-size: calc(4.6vmin + 0.4vmax); font-style: italic; font-weight: 900; 
    border: 0pt; background-color: #000; color: #f0f0c3; width: 25vw; text-align: center; -webkit-appearance: none; appearance: none;
border-radius: 0;
    }
    .SRCHBOX {
    font-family:'Montserrat', sans-serif !important; 
    text-transform: uppercase; font-size: calc(4.6vmin + 0.4vmax); font-style: italic; font-weight: 900; 
    border: 0pt; background-color: #000; color: #f0f0c3; text-indent: 10px; width: 99%; text-align: center; -webkit-appearance: none; appearance: none;
border-radius: 0; caret-color: #f0f0c3;
}
    .DIGBTN {
    font-family:'Montserrat', sans-serif !important; text-transform: uppercase; font-size: calc(4.6vmin + 0.4vmax); font-style: italic; font-weight: 900;   
    border: 0pt; background-color: #000; color: #f0f0c3; width: 25vw; text-align: center; -webkit-appearance: none; appearance: none;
border-radius: 0;  
}    
.ORIGAMI {
width: 50vh;
height: auto;
align: middle;
}

.BLKRKBTS {
border:none; width:85%; max-height:55vh ; 
overflow-y:scroll; overflow-x:hide; 
min-width: 309px; min-height: 55vh; 
margin-bottom: 15%; padding-bottom: 2%;
font-size: calc(3.8vmax + 0.4vmax);
}
    
  </style>
  <script type="text/javascript">
    $(document).ready(function () {
      $("frmSearch").focus();
    });
  </script>
</head>


<body>



  <form method="POST">
    <div class="wrapper" style="height:100vh">
    


      <div class="GRIDBOX1">
      </div>
      <div class="GRIDBOX2">
      </div>
      <div class="GRIDBOX3">
      </div>
      <div class="GRIDBOX4">
      </div>
      <div class="GRIDBOX5">
      </div>

      <div class="HDR">
      </div>
      <div class="FTR">
      </div>

      <div class="SRCH">




        <input type="text" autofocus name="frmSearch" class="SRCHBOX" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"; value="{{searchterm}}";  />


      </div>

      <div class="SURF">
        <div align="center">
          <div style="vertical-align:middle">
            <p>
              <input type="submit" class="SURFBTN" value="SURF" />
            </p>

          </div>
        </div>
      </div>

  </form>

  
  <div class="DIG">
    <div align="center">
      <div style="vertical-align:middle">
        <p>
          <form method="POST">
            <input type="hidden" name="frmSearch" value="{{dugterm}}" />
            <input type="submit" class="DIGBTN" value="DIG" />
          </form>
        </p>
      </div>
    </div>
  </div>


      <div class="BODY">
        <div align="center">

          <div class="BLKRKBTS">
            <p style="height:auto;">

              <div align="justify">
                <div class="filtered">


                  {{#content}}
                  <p> {{text}}</p>
                  {{/content}} {{^content}}
                  <div align="center">
                   
                    <img class="ORIGAMI" src="/img/fortune.gif" alt="picture" />
                  </div>
                  {{/content}}



                </div>
              </div>
          </div>
        </div>
      </div>


</body>

</html>
