<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CURIOUSIKI</title>

<link href="https://fonts.googleapis.com/css?family=Cardo|Montserrat:800i" rel="stylesheet"> 
<link href="curiosiki/src/views/4.css" rel="stylesheet" type="text/css" />
</head>

<div class="wrapper" style="height:100vh">

<div class="GRIDBOX1">
</div>
<div class="GRIDBOX2">
</div>
<div class="GRIDBOX3">
</div>
<div class="GRIDBOX4">
</div>
<div class="GRIDBOX5">
</div>

<div class="HDR">
</div>
<div class="FTR">
</div>

<div class="SRCH">
<form method="POST">

<input type="text" name="frmSearch" style="font-family:'Montserrat', sans-serif; text-transform: uppercase; font-size: calc(4.6vmin + 0.4vmax); font-weight: bolder; 
    			font-weight: bolder; border: 0pt; background-color: #000; color: #f0f0c3; text-indent: 10px; width: 99%; text-align: center " value="{{searchterm}}" />
                
</form>
</div>










<div class="BODY">
<div align="center">

          <div style="border:none; width:85%; max-height:55vh ; overflow-y:scroll; overflow-x:hide; min-width: 309px; min-height: 55vh; margin-bottom: 15%; padding-bottom: 2%;">
<p style="height:auto;">
                
              <div align="justify"><div class="filtered">


                               {{#content}}
                        <p> {{text}}</p>
                        {{/content}}
                         {{^content}}
                        <div align="center">
                            <img src="/img/fortune.gif" width="400" height="400" align="middle" />
                        </div>
                        {{/content}}



</div></div>
</div></div></div>














<div class="SURF">
<div align="center">
<div style="vertical-align:middle">

    <input type="submit"  style="font-family:'Montserrat', sans-serif; text-transform: uppercase; font-size: calc(4.6vmin + 0.4vmax); font-weight: bolder;
               border: 0pt; background-color: #000; color: #f0f0c3; width: 15vw;  " value="SURF" />
</form>
</div>
</div>
</div>

<div class="DIG">
<div align="center">
<div style="vertical-align:middle">
        <form method="POST">
            <input type="hidden" name="frmSearch" value="{{dugterm}}" />
            <input type="submit" style="font-family:'Montserrat', sans-serif; text-transform: uppercase; font-size: calc(4.6vmin + 0.4vmax); font-weight: bolder;
               border: 0pt; background-color: #000; color: #f0f0c3; width: 15vw;  " 
value="DIG" />
</form>
</div>
</div>
</div>











<body>

</body>
</html>
